extends layout

block content
 .jumbotron
      .container
        h1 #{title}
        p
          | This is a template for a simple website. It includes a jumbotron and three supporting pieces of content. Use it as a starting point to create something more crazy. Why do you never see elephants hiding in trees? Because they’re so good at it.
        p
          a.btn.btn-primary.btn-lg(href='https://www.w3schools.com/bootstrap/bootstrap_jumbotron_header.asp', role='button') Learn Jumbotron »
    .container
      .row
        .col-md-4
          h2 Heading 1
          p
            | Wang id elit non mi poopa gravida at eget metus. Want to hear a joke about paper? Nevermind it’s tearable. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui decimal.
          p
            a.btn.btn-default(href='/about', role='button') View details »
        .col-md-4
          h2 Heading 2
          p
            | Doopy id elit non mi porta gravida at eget meatus. How many apples grow on a tree? All of them. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio just dui it.
          p
            a.btn.btn-default(href='/about', role='button') View details »
        .col-md-4
          h2 Heading 3
          p
            | Doidoi sed odio dooey. Did you hear about the restaurant on the moon? Great food, no atmosphere. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus monkey.
          p
            a.btn.btn-default(href='/about', role='button') View details »
